<template>
  <div class="container">
    <h1>chi tiết sản phẩm</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="img">
          <img
            class="img-fluid"
            src="https://i.imgur.com/rG5hSHJ.jpg"
            alt="Girl in a jacket"
            width="500"
            height="500"
          />
        </div>
      </div>
      <div class="col-md-6">
        <p class="name_production">{{ state.dataDetail.name }}</p>
        <p class="name_production">{{ price }}</p>
        <p>Màu sắc: {{ state.color }}</p>
        <!-- {{ state.dataDetail }} -->
        <img
          v-for="(item, index) in state.dataDetail.color"
          :key="index"
          src="https://i.imgur.com/rG5hSHJ.jpg"
          alt="Girl in a jacket"
          width="50"
          height="50"
          class="mr-10 cursor-pt"
          :class="state.selectColor === item.code ? 'active' : ''"
          @click="handleSelectColor(item.code, item.name)"
          @change="handleChange(item)"
        />
        <!-- <img
          src="https://i.imgur.com/rG5hSHJ.jpg"
          alt="Girl in a jacket"
          width="50"
          height="50"
        /> -->
        <p class="mt-10">Chọn size</p>
        <div class="get-size d-flex cursor-pt">
          <div
            v-for="(item, index) in state.dataDetail.size"
            :key="index"
            class="mr-20"
            :class="state.selectedSize === item.code ? 'active' : ''"
            @click="handleSelectSize(item.code)"
          >
            {{ item.name }}
          </div>
        </div>
        <div class="amount mt-20 d-flex">
          <div class="mr-10">Số lượng</div>
          <div class="d-flex">
            <button
              @click="handleRemoveItem()"
              type="button"
              class="btn btn-outline-secondary qty-down"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-dash-lg"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"
                ></path>
              </svg>
            </button>
            <input
              type="text"
              class="form-control quantity"
              v-model="countItem"
              oninput="this.value = this.value.replace(/[^0-9]/g, '')"
              placeholder="Số lượng"
            />
            <button
              @click="handleAddItem()"
              type="button"
              class="btn btn-outline-secondary qty-up"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-plus-lg"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"
                ></path>
              </svg>
            </button>
          </div>
        </div>
        <div class="button_controler">
          <div class="btn-add">
            <a id="showAddCart" class="btn btn-addCart">
              <img
                src="https://aristino.com/Content/pc/images/icon/cart.svg"
                alt="cart"
              />
              Thêm vào giỏ hàng
            </a>
          </div>
          <div class="buyNow">
            <a class="btn btn-buyNow btn-cart" data-id="3127" rel="nofollow"
              >Mua ngay</a
            >
          </div>
        </div>
        <div>
          <div>
            <img
              src="https://aristino.com/Content/pc/images/icon/Pay-Delivery.svg"
              alt="Delivery"
            />
            <span class="ml-10">Đa dạng phương thức thanh toán</span>
          </div>
          <div>
            <img
              src="https://aristino.com/Content/pc/images/icon/tranfer.svg"
              alt="Delivery"
              class="mr-5"
            />
            <span class="ml-10">Đổi hàng miễn phí lên đến 30 ngày</span>
          </div>
        </div>
      </div>
    </div>
    <div class="box_infomation_product">
      <h3 class="heading_detail">Thông tin sản phẩm</h3>
      <hr />
      <p><strong>KIỂU DÁNG:</strong>&nbsp;{{ state.dataDetail.Designs }}</p>
      <p><strong>CHI TIẾT:</strong></p>
      <p v-for="(item, index) in state.dataDetail.detail" :key="index">
        - {{ item.title }}
      </p>
      <p><strong>CHẤT LIỆU:</strong></p>
      <p>
        {{ state.dataDetail.material }}
      </p>
      <p><strong>MÀU SẮC:&nbsp;</strong>Trắng kẻ xanh</p>
      <p><strong>SIZE:</strong> M, L, XL, XXL</p>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, reactive, computed } from "vue";
import TutorialDataService from "@/services/TutorialDataService";
import ResponseData from "@/types/ResponseData";
import { useRoute } from "vue-router";
export default defineComponent({
  data() {
    return {
      countItem: 0,
      sizeList: ["M", "L", "XL", "XXL"],
      selectedSize: "",
      size: "",
      selectColor: "",
      priceItem: "",
    };
  },
  setup() {
    const state = reactive({
      selectedRadio: [],
      dataDetail: {
        id: 8,
        code: "SM2",
        name: "sơ mi 2",
        quantity: 30,
        thumbnail: "http://dummyimage.com/151x100.png/ff4444/ffffff",
        status: false,
        createdAt: 1615796160000,
        color: [],
        size: [],
        Items: [
          {
            code: "TS",
            color: "Trắng",
            size: "S",
            price: "140000",
          },
          {
            code: "TM",
            color: "Trắng",
            size: "M",
            price: "140000",
          },
          {
            code: "TL",
            color: "Trắng",
            size: "L",
            price: "140000",
          },
          {
            code: "TXL",
            color: "Trắng",
            size: "XL",
            price: "140000",
          },
        ],
        Designs: "FIERO",
        detail: [
          {
            title:
              "Áo sơ mi dài tay phom Fiero suông rộng, che khuyết điểm tốt và tôn dáng người mặc",
          },
          {
            title:
              "Áo thiết kế hơi hướng cổ điển tà lượn, có túi, họa tiết kẻ sọc xanh trên nền trắng lịch lãm mang tới sự chỉn chu cho quý ông.",
          },
        ],
        material:
          "Chất liệu 100% Cotton tự nhiên giúp áo mềm mại, xốp nhẹ, khả năng thấm hút tốt, thoáng khí thân thiện với làn da, đồng thời vẫn giữ được độ đứng dáng vừa đủ.",
      },
      price: "",
      color: "",
      selectedSize: "",
      selectColor: "",
    });
    const route = useRoute();
    const idDetail: unknown = route.params.id;
    const getData = async () => {
      TutorialDataService.getDetail(idDetail)
        .then((response: ResponseData) => {
          state.dataDetail = response.data;
          // let a = Math.max(
          //   ...state.dataDetail.Items.map((o) => parseInt(o.price))
          // );
          let itemMax = state.dataDetail.Items.filter(
            (item) =>
              parseInt(item.price) ===
              Math.max(...state.dataDetail.Items.map((o) => parseInt(o.price)))
          );
          state.selectedSize = itemMax[0].code.split("-")[1];
          state.selectColor = itemMax[0].code.split("-")[0];
          // dataDetail = response.data
        })
        .catch((e: Error) => {
          console.log(e);
        });
    };
    // eslint-disable-next-line vue/return-in-computed-property
    // const label = computed(() => {
    //   if (state.selectedSize && state.selectColor) {
    //     if (state.dataDetail.Items) {
    //       const priceItem = state.dataDetail.Items.filter(
    //         (item: { code: string }) =>
    //           item.code === state.selectColor + "-" + state.selectedSize
    //       );
    //       if (priceItem && priceItem.length > 0) {
    //         // eslint-disable-next-line vue/no-side-effects-in-computed-properties
    //         state.price = priceItem[0].price;
    //         // this.formatPrice(priceItem[0].price);
    //       }
    //       return state.price;
    //     }
    //   }
    // });

    const price = computed(() => {
      if (state.selectedSize && state.selectColor) {
        if (state.dataDetail.Items.length > 0) {
          const priceItem = state.dataDetail.Items.filter(
            (item: { code: string }) =>
              item.code === state.selectColor + "-" + state.selectedSize
          );
          if (priceItem && priceItem.length > 0) {
            const price = priceItem[0].price;
            return new Intl.NumberFormat("vi-VN", {
              style: "currency",
              currency: "VND",
            }).format(parseInt(price));
          }
        }
        // return "1";
      }
      return "";
    });

    onMounted(() => {
      // const id: unknown = route.params.id;
      getData();
      let itemMax = state.dataDetail.Items.filter(
        (item) =>
          parseInt(item.price) ===
          Math.max(...state.dataDetail.Items.map((o) => parseInt(o.price)))
      );
      console.log("'itemMax'", itemMax);
      state.selectedSize = itemMax[0].code.split("-")[0];
      state.selectColor = itemMax[0].code.split("-")[1];
    });

    return {
      state,
      price,
      getData,
      // label,
      // getProfile, // this will be available in your template
    };
  },
  // mounted() {
  //   this.getPrice();
  // },
  methods: {
    handleChange(item: unknown) {
      console.log("change", item);
    },
    formatPrice(price: string) {
      if (price) {
        return new Intl.NumberFormat("vi-VN", {
          style: "currency",
          currency: "VND",
        }).format(parseInt(this.state.price));
      } else {
        return "N/A";
      }
    },
    getPrice() {
      if (this.state.selectedSize && this.state.selectColor) {
        if (this.state.dataDetail.Items) {
          const priceItem = this.state.dataDetail.Items.filter(
            (item: { code: string }) =>
              item.code ===
              this.state.selectColor + "-" + this.state.selectedSize
          );
          if (priceItem && priceItem.length > 0) {
            this.state.price = priceItem[0].price;
            this.formatPrice(priceItem[0].price);
          }
        }

        // }
      }
    },
    handleSelectSize(item: any) {
      this.state.selectedSize = item;
      this.getPrice();
    },
    handleSelectColor(type: string, name: string) {
      this.state.selectColor = type;
      this.state.color = name;
      this.getPrice();
    },
    handleAddItem() {
      this.countItem = this.countItem + 1;
    },
    handleRemoveItem() {
      if (this.countItem > 0) {
        this.countItem = this.countItem - 1;
      }
    },
  },
});
</script>

<style scoped>
.mr-10 {
  margin-right: 10px !important;
}
.ml-10 {
  margin-left: 10px !important;
}
.mr-5 {
  margin-right: 5px !important;
}
.mr-20 {
  margin-right: 20px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.cursor-pt {
  cursor: pointer;
}
.active {
  border-bottom: 2px solid #000;
}

.heading_detail {
  margin-top: 40px;
  font-weight: 600;
  font-size: 18px;
}
.btn-add {
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  height: 53px;
  width: 100%;
}
.btn-cart {
  margin-top: 20px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  height: 53px;
  width: 100%;
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.form-control {
  position: relative;
}
.amount {
  align-items: center;
}
.quantity {
  width: 50px !important;
  min-height: unset !important;
  height: 40px;
  flex: 0 0 auto !important;
  background: #fff !important;
  font-size: 16px !important;
}
.button_controler {
  margin: 30px 0;
}
.btn-addCar {
  border: 1px solid #000;
}
.btn-buyNow {
  background: #000;
  color: #fff;
}
.name_production {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 1.3;
  padding-right: 40px;
}
</style>
