<template>
  <div v-if="state.loading" class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div v-else>
    <TheHome @handleFilter="handleFilter" />
    <div class="the-banner">
      <img src="@/assets/img/banner.jpg" alt="" />
    </div>
    <div class="shop-container s-mt-8">
      <TheProduct :search="state.search" />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive } from "vue";
import TheHome from "../components/TheMenu.vue";
import TheProduct from "../components/TheProduct.vue";

export default defineComponent({
  components: {
    TheHome,
    TheProduct,
  },
  setup() {
    const state = reactive({
      search: "",
      loading: true,
    });
    return {
      state,
    };
  },
  mounted() {
    setTimeout(() => {
      this.state.loading = false;
    }, 1000);
  },
  methods: {
    handleFilter(value: string) {
      console.log("emit filter", value);
      this.state.search = value;
    },
  },
});
</script>

<style scoped>
.the-banner img {
  width: 100%;
}
</style>
