<template>
  <div>
    <div
      @mouseout="checkHover(false)"
      @mousemove="checkHover(true)"
      class="card"
      :class="{ 'border-0': !state.isHovering }"
    >
      <img
        @click="handleViewDetail(itemId)"
        :src="img"
        class="card-img-top img-fluid"
        alt="..."
      />
      <div class="card-body">
        <p class="card-text mb-0">{{ name }}</p>
        <p class="card-code">{{ code }}</p>
        <h5 class="card-price">{{ price }}</h5>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { reactive } from "vue";
export default defineComponent({
  name: "ProductCard",
  props: {
    img: {
      type: String,
      default: "",
    },
    name: {
      type: String,
      default: "",
    },
    code: {
      type: String,
      default: "",
    },
    price: {
      type: String,
      default: "",
    },
    itemId: {
      type: String,
      default: "",
    },
  },
  setup() {
    const state = reactive({
      isHovering: false,
    });
    return {
      state,
    };
  },
  methods: {
    handleViewDetail(id: string) {
      this.$router.push({ name: "productDetail", params: { id: id } });
    },
    checkHover(val: boolean): void {
      if (val) {
        this.state.isHovering = true;
      } else {
        this.state.isHovering = false;
      }
    },
  },
});
</script>

<style>
.card {
  cursor: pointer;
}
</style>
