<template>
  <div class="the-menu">
    <div class="menu-main d-flex align-items-center justify-content-between">
      <div class="logo">LOGO</div>
      <nav class="list-item">
        <ul>
          <li class="li-item">
            <a href="#">THUƠNG HIỆU</a>
            <ul class="sub-menu">
              <li>Phong cách thanh lịch</li>
              <li>Phong cách thể thao</li>
              <li>Phong cách cổ điển</li>
            </ul>
          </li>
          <li class="li-item">
            <a href="#">SẢN PHẨM</a>
            <ul class="sub-menu">
              <li>Sản phẩm mùa đông</li>
              <li>Sản phẩm mùa hè</li>
              <li>Sản phẩm hót</li>
            </ul>
          </li>
          <li class="li-item">
            <a href="#">PHỤ KIỆN</a>
            <ul class="sub-menu">
              <li>Dây da</li>
              <li>Khăn quàng</li>
              <li>Giày</li>
            </ul>
          </li>
          <li class="li-item">
            <a href="#">BỘ SƯU TẬP</a>
            <ul class="sub-menu">
              <li>Thanh lịch</li>
              <li>Thể thao</li>
            </ul>
          </li>
          <li class="li-item"><a href="#">CỬA HÀNG</a></li>
        </ul>
      </nav>
      <div class="myCart">
        <ul>
          <li>
            <div class="search">
              <input
                v-model="state.search"
                type="text"
                placeholder="Tìm kiếm"
              />
              <i
                @click="handleFilter(state.search)"
                class="fa-sharp fa-solid fa-magnifying-glass"
              ></i>
            </div>
          </li>
          <div class="card">
            <i class="fa-sharp fa-solid fa-cart-shopping"></i>
          </div>
        </ul>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { reactive } from "vue";
export default defineComponent({
  name: "ProductCard",
  setup() {
    const state = reactive({
      isHovering: false,
      search: "",
    });
    return {
      state,
    };
  },
  methods: {
    handleFilter(value: string) {
      console.log("Search", value);
      this.$emit("handleFilter", value);
      // nothing
    },
  },
});
</script>

<style>
.the-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5000;
}
.menu-main {
  max-width: 1920px;
  margin: auto;
  padding: 10px 78px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}
.list-item ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
ul {
  padding-left: 0;
  margin-bottom: 0;
}
ul li {
  list-style: none;
}
ul li a {
  color: black;
  cursor: pointer;
  font-weight: bold;
}
.list-item > ul > li {
  padding: 15px 10px;
}
.list-item ul li a:hover {
  color: black;
  text-decoration: none;
}
.list-item ul li a {
  position: relative;
}
.list-item ul li a:after {
  width: 0;
  position: absolute;
  content: "";
  background: #000;
  opacity: 0;
}

.list-item ul li a:hover:after {
  width: 100%;
  height: 2px;

  opacity: 1;

  left: 0;
  right: 0;
  margin: auto;
  bottom: -6px;

  transition: width 0.3s;
}
.logo {
  font-size: 36px;
}
.search {
  position: relative;
  width: 183px;
}
.search input {
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  transition: 0.3s;
  position: absolute;
  width: 100%;
  padding-right: 30px;
}
.search i {
  position: relative;
  bottom: -3px;
  right: -160px;
  z-index: 10;
}
.search input:focus {
  border-bottom: 1px solid rgb(1, 1, 2);
}
.myCart ul {
  display: flex;
  align-items: center;
}
.card {
  border: none;
  margin-left: 22px;
  cursor: pointer;
  transform: translateY(3px);
  font-size: 17px;
}
.li-item {
  position: relative;
}
.li-item .sub-menu {
  position: absolute;
  min-width: 222px;
  min-height: 210px;
  box-shadow: 0px 10px 20px rgb(0 0 0 / 15%);
  top: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  padding: 10px 0;
  z-index: 10;
  background: #fff;
  display: flex;
  flex-direction: column;
}
.li-item:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}
.sub-menu li {
  color: #000;
  padding: 0 20px;
  margin: 15px 0;
  font-size: 16px;
  transition: all 0.5s;
  display: block;
  cursor: pointer;
  width: 100%;
}
.sub-menu li:hover {
  opacity: 0.5;
}
</style>
