<template>
  <div>
    <div class="row align-items-center justify-content-between mb-2">
      <div class="col-md-7 d-flex align-items-center">
        <h3 class="title mr-5">Áo sơ mi</h3>
        <div class="filter__radio">
          <input
            id="filter1-0"
            class="sr-only"
            type="radio"
            value="windows"
            v-model="state.selectedRadio"
          />
          <!-- <label for="filter1-0">Sơ mi trắng</label> -->
          <input
            id="filter1-0"
            class="sr-only"
            type="radio"
            value="windows"
            v-model="state.selectedRadio"
          />
          <!-- <label for="filter1-0">Sơ mi kẻ</label> -->
        </div>
      </div>
      <div class="col-md-4">
        <div class="d-flex justify-content-end">
          <!-- <div class="filter d-flex">
          <div class="filter__text">Bộ lọc</div>
          <div class="filter__icon ml-1">
            <font-awesome-icon icon="fa-solid fa-filter" />
          </div>
        </div> -->
          <div class="dropdown">
            <div
              class="sorting d-flex ml-3"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <div class="sorting__text">Sắp xếp</div>
              <div class="sorting__icon ml-1">
                <font-awesome-icon icon="fa-solid fa-arrow-up-short-wide" />
              </div>
            </div>
            <div
              class="dropdown-menu dropdown-menu-right"
              aria-labelledby="dropdownMenuButton"
            >
              <a
                @click="handleFilterBySort(item.value)"
                class="dropdown-item"
                v-for="item in state.sort"
                :key="item"
                >{{ item.name }}</a
              >
              <!-- <a class="dropdown-item" href="#">Giá</a>
            <a class="dropdown-item" href="#">Something else here</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="product__list">
      <div class="row">
        <template v-for="item in state.responseList" :key="item">
          <ProductCard
            class="col-md-3 col-sm-1 mb-2"
            :name="item.name"
            :itemId="item.id"
            :price="formatCurrency(item.maxPrice)"
            :img="item.url"
          />
        </template>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import ProductCard from "@/components/ProductCard.vue";
import TutorialDataService from "@/services/TutorialDataService";
import ResponseData from "@/types/ResponseData";
import { defineComponent, watch } from "vue";
import { reactive, ref, watchEffect } from "vue";
export default defineComponent({
  props: {
    search: {
      type: String,
      default: "",
    },
  },
  components: {
    ProductCard,
  },
  setup() {
    const state = reactive({
      selectedRadio: [],
      responseList: [],
      sort: [
        {
          id: "1",
          name: "Tên",
          value: "name",
        },
        {
          id: "2",
          name: "Giá thấp đến cao",
          value: "hightolow",
        },
        {
          id: "3",
          name: "Giá cao đến thấp",
          value: "lowtohigh",
        },
      ],
      query: {
        title: "",
      },
    });
    return {
      state,
    };
  },
  mounted() {
    this.getData();
  },
  watch: {
    search: function (value: string) {
      console.log("watch active");
      this.state.query.title = value;
      this.searchbyTitle(value);
    },
  },
  methods: {
    handleFilterBySort(value: string) {
      console.log("1", this.state.responseList);
      if (value === "name") {
        // sort by name
        this.state.responseList = this.state.responseList.sort(
          (a: any, b: any) => a.name.localeCompare(b.name)
        );
      }
      if (value === "hightolow") {
        console.log("higfht");
        this.state.responseList = this.state.responseList.sort(
          (a: any, b: any) => (a.maxPrice > b.maxPrice ? 1 : -1)
        );
      }
      if (value === "lowtohigh") {
        this.state.responseList = this.state.responseList.sort(
          (a: any, b: any) => (a.maxPrice > b.maxPrice ? -1 : 1)
        );
      }
      console.log("2", this.state.responseList);
      // this.this.state.responseList = this.state.responseList.sort((a, b) => a.value - b.value);
    },
    formatCurrency(value: string) {
      return new Intl.NumberFormat("vi-VN", {
        style: "currency",
        currency: "VND",
      }).format(parseInt(value));
    },
    handleFilter(value: string) {
      console.log("watch", value);
    },
    searchbyTitle(value: string) {
      TutorialDataService.findByTitle(this.state.query.title)
        .then((response: ResponseData) => {
          this.state.responseList = response.data;
          this.state.responseList = response.data.filter(
            (item: any) => item.name === value
          );
          // console.log("include", response.data[0].name.includes("Áo"));
          // this.state.responseList = arr;
        })
        .catch((e: Error) => {
          console.log(e);
        });
    },
    getData() {
      TutorialDataService.getAll()
        .then((response: ResponseData) => {
          this.state.responseList = response.data;
          setTimeout(() => {
            this.$emit("isLoading", false);
          }, 700);
        })
        .catch((e: Error) => {
          console.log(e);
        });
    },
  },
});
</script>

<style scoped>
.filter__radio input:checked + label {
  color: inherit;
}
.filter__radio input:not(:checked) + label {
  --bg-opacity: 0;
  box-shadow: none;
}
</style>
